torch==2.10.0
torchvision==0.25.0
timm==1.0.22
numpy==2.4.3
scipy==1.17.1
opencv-python==4.13.0.92
tqdm==4.67.3
Pillow==12.1.1
tensorboard==2.20.0
onnx==1.20.1
onnxruntime-gpu==1.28.0
datasets>=2.20.0
huggingface_hub>=0.23.0

# Optional: only needed for retinaface/tools/model_summary.py
# torchsummary==<your-version>
